body {
  padding-top: 2rem;
}

.dsupplier-info {
  margin-top:3rem;
}

.dsupplier-details-header {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #eceeef;
  border-radius: .3rem;
}

.dsupplier-details-notes {
  margin-top: 3rem;
}
