body {
}

.table thead th {
  vertical-align: top;
  border-top: 2px solid #ADDFFF;
  border-bottom: 2px solid #ADDFFF;
}

.table td {
  border-top: 1px solid #ADDFFF;
}

.table tbody tr:hover {
    background-color: #BDEDFF;
}

.dsupplier-details-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e8e8ee;
}

.dsupplier-info {
  margin-top:3rem;
}

.dsupplier-details-brands {
  margin-top: 1rem;
  padding-top: 2rem;
}

.dsupplier-details-brands-table {
  margin-top: 2rem;
}

.dsupplier-details-notes {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #e8e8ee;
}
