{% extends "dashboard/base.html" %}

{% block title %}Supplier Outreach - Supplier Details{% endblock %}

{% block navbarlinks %}
        <li class="nav-item"><a class="nav-link" href="/dashboard">Suppliers</a></li>
        <li class="nav-item active"><a class="nav-link" href="#">Details <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1>Supplier details!!!</h1>
  </div>
{% endblock %}
