{% extends "dashboard/base.html" %}

{% block title %}Supplier Outreach - Supplier Details{% endblock %}

{% block navbarlinks %}
          <li class="nav-item"><a class="nav-link" href="/dashboard">Suppliers</a></li>
          <li class="nav-item active"><a class="nav-link" href="details">Details <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
<div class="dsupplier-details-header">
  <div class="container">
    <h1>Supplier Name</h1>
    <div class="dsupplier-info">
      <div class="row">
        <div class="col-md-4">
          <h2>General Info</h2>
          <table class="table-sm table-responsive">
            <tr>
              <td class="font-weight-bold">Supplier ID</td>
              <td>52</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Mkt Category</td>
              <td>Entertainment Furniture</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Rev Rank</td>
              <td>3</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <h2>Contacts</h2>
          <table class="table-sm table-responsive">
            <tr>
              <td class="font-weight-bold">SRM Name</td>
              <td>John Doe</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Name</td>
              <td>Dave Oliver</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Email</td>
              <td>daveoliver@gmail.com</td>
            </tr>
            <tr>
              <td class="font-weight-bold">Phone</td>
              <td>639-229-7212</td>
            </tr>
          </table>
       </div>
       <div class="col-md-4">
         <h2>Last Update</h2>
         <table class="table-sm table-responsive">
           <tr>
             <td class="font-weight-bold">Past 12m</td>
             <td>No</td>
           </tr>
           <tr>
             <td class="font-weight-bold">Upd Expected</td>
             <td>3/31/2017</td>
           </tr>
           <tr>
             <td class="font-weight-bold">Ticket ID</td>
             <td><a href="#" data-toggle="popover" data-trigger="focus" title="Ticket Details" data-html="true" data-content="PT Date 2/24/2016<br />PT Stage (P9) No Site Merch Review Needed">4960139</a></td>
           </tr>
         </table>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="dsupplier-details-brands">
  <div class="container">
    <h1>Brands</h1>
    <table class="table table-responsive table-hover dsupplier-details-brands-table">
      <thead>
        <tr>
          <th>Manufacturer ID</th>
          <th>Manufacturer Name</th>
          <th>Upd Expected</th>
          <th>PT Ticket ID</th>
          <th>PT Stage</th>
          <th>PT Date</th>
          <th>12m</th>
          <th>Ready outreach</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">16055</th>
          <td>CoolFurniture</td>
          <td>3/31/2017</td>
          <td>49601391</td>
          <td>(P9) No Site Merch Review Needed</td>
          <td>4/25/2017</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <th scope="row">16055</th>
          <td>KidsFurniture</td>
          <td>3/25/2017</td>
          <td>49601392</td>
          <td>(P9) No Site Merch Review Needed</td>
          <td>4/26/2017</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="dsupplier-details-notes">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
</div>
{% endblock %}
